html {
  --main-color: #333333;
}

body {
  background-color: var(--main-color);
  transition: background 1s;
}

#main_content {
  color: var(--main-color);
  display: inline-block;
  min-width: 225px;
  max-width: 550px;
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.blockquote-footer {
  color: var(--main-color);
}

/* Arrows */
.arrow {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
  transition: background 1s;
}

#leftArrow {
  visibility: hidden;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* Twitter Button */
#tweet-button {
  cursor: pointer;
}

.fa-twitter-square {
  font-size: 2.5rem;
  color: var(--main-color);
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.fa-twitter-square:hover {
  transition: all 0.5s ease;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
}

/* Footer */
html, body {
  height: 100%;
} 

#wrapper {
  min-height:100%;
  position:relative;
} 

footer {
  width: 100%;
  height: 42px;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
  font-family: Lato, sans-serif;
  font-size: 15px;
} 

footer a {
  line-height: 42px;
  color: white;
  text-decoration: none;
} 

footer a:focus, a:hover, a:visited {
  text-decoration: none;
  color: white;
} 

footer span {
  vertical-align: middle;
} 

.i-big {
  vertical-align: middle;
  font-size: 18px;
}